/*===== Basic Style =====*/

html{
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

section{
    display: inline-block;
    padding-bottom: 120px;
}

/*===== Common Style =====*/

h1{
    font-size: 5rem;
    font-weight: 600;   
    line-height: 6rem;
}

h2{
    font-size: 4rem;
    font-weight: 600;   
}


h3{
    font-size: 4rem;
    font-weight: 600; 
    padding-left: 5%;
}

h4{
    font-size: 2rem;
    color: #000000;
}

p{
    font-size: 1.7rem;
    color: #696969;
    padding-bottom: 25px;
}


/*========================================================================*/


/*===== Hero Section=====*/

.top-section{
    background-image: url(../image/top-banner.png);
    background-repeat: no-repeat;
}

/*===== Hero Section Content =====*/

.hero-content{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    vertical-align: middle;
}

.highlight{
    color: #3b97f8;
}

.hero-button{
    color: #ffffff;
    background-image: linear-gradient(90deg, #3b97f8, #23bbcf);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.8rem 2.6rem 0.8rem 2.6rem;
    border-style: none;
    border-radius: 0.5rem;
    text-decoration: none;
}

.hero-button:hover{
    background-image: linear-gradient(45deg, #db467b, #ff1d76); 
}

/*===== Hero Section Image =====*/

.hero-image{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-top: 3%;
}

.hero-image img{
    width: 100%;
}


/*========================================================================*/


/*===== Dream Section=====*/

.dream-section{
    background-image: url(../image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/*===== Dream Section Image =====*/

.dream-image{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-top: 3%;
}

.dream-image img{
    width: 100%;
}

/*===== Dream Section Content =====*/

.dream-content{
    width: 40%;
    float: left;
    padding-left: 6%;
    padding-top: 3.5%;
    vertical-align: middle;
}

.dream-button{
    color: #ffffff;
    background-image: linear-gradient(90deg, #753bd9, #5b5fde);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.8rem 2.6rem 0.8rem 2.6rem;
    border-style: none;
    border-radius: 0.5rem;
    text-decoration: none;
}

.dream-button:hover{
    background-image: linear-gradient(45deg, #e3ac43, #ffc91d);
}


/*========================================================================*/


/*===== experience Section=====*/

.experience-section{
    background-image: url(../image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-content{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 1%;
    vertical-align: middle;
    box-shadow: 1rem 1rem 4rem #A9A9A9;
    border-radius: 0.5rem;
    height: 80%;
    background-color: #F5FFFA;
}

.orange-highlight{
    color: #FF9E33;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #ecec23, #cd7f32);
    border-image-slice: 1;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #0000FF, #00FFFF);
    border-image-slice: 1;
}


/*========================================================================*/


/*===== footer Section=====*/

footer p{
    text-align: center;
    color: #7e7e7e;
    font-size: 1.2rem;
}